@import url('//fonts.googleapis.com/css?family=PT+Mono');

$mono-font: 'PT Mono', monospace;

.app-view {
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  min-width: 400px;
  max-width: 1200px;
  .app-title {
    font-family: $mono-font;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.3;
    text-align: center;
  }
}
